name: balancer-prod
version: '3.8'
services:
  db:
    build:
      context: ./db
      dockerfile: Dockerfile
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=balancer
      - POSTGRES_PASSWORD=balancer
      - POSTGRES_DB=balancer_dev
    ports:
    - "5432:5432"
  backend:
    image: balancer-backend
    build:
      context: server
      dockerfile: Dockerfile.prod 
    ports:
      - "8000:8000"
    env_file:
      - ./config/env/env.dev
    depends_on:
      - db
  frontend:
    image: balancer-frontend
    build:
      context: frontend
      dockerfile: Dockerfile.prod
      args:
        - IMAGE_NAME=balancer-frontend
    ports:
        - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data: