name: balancer-prod
version: "3.8"
services:
  backend:
    image: balancer-backend
    build:
      context: server
      dockerfile: Dockerfile.prod
    ports:
      - "8000:8000"
    env_file:
      - ./config/env/env.dev
