services:
  db:
    # Workaround for PostgreSQL crash with pgvector v0.6.1 on ARM64
    # image: pgvector/pgvector:pg15
    # volumes:
    #   - postgres_data:/var/lib/postgresql/data/
    #   - ./db/init-vector-extension.sql:/docker-entrypoint-initdb.d/init-vector-extension.sql
    build:
      context: ./db
      dockerfile: Dockerfile
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=balancer
      - POSTGRES_PASSWORD=balancer
      - POSTGRES_DB=balancer_dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U balancer -d balancer_dev"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"
    networks:
      app_net:
        ipv4_address: 192.168.0.2
  # pgadmin:
  #   container_name: pgadmin4
  #   image: dpage/pgadmin4
  #   environment:
  #     PGADMIN_DEFAULT_EMAIL: balancer-noreply@codeforphilly.org
  #     PGADMIN_DEFAULT_PASSWORD: balancer
  #   ports:
  #     - "5050:80"
  #   networks:
  #     app_net:
  #       ipv4_address: 192.168.0.4
  backend:
    image: balancer-backend
    build: ./server
    command: python manage.py runserver 0.0.0.0:8000
    restart: on-failure
    ports:
      - "8000:8000"
    env_file:
      - ./config/env/dev.env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./server:/usr/src/server
    networks:
      app_net:
        ipv4_address: 192.168.0.3
  frontend:
    image: balancer-frontend
    build:
      context: frontend
      dockerfile: Dockerfile
      args:
        - IMAGE_NAME=balancer-frontend
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
    volumes:
      - "./frontend:/usr/src/app:delegated"
      - "/usr/src/app/node_modules/"
    depends_on:
      - backend
    networks:
      app_net:
        ipv4_address: 192.168.0.5
volumes:
  postgres_data:
networks:
  app_net:
    ipam:
      driver: default
      config:
        - subnet: "192.168.0.0/24"
          gateway: 192.168.0.1
