name: balancer-prod
version: "3.8"

services:
  app:
    image: balancer-app
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - "8000:8000"
    env_file:
      - ./config/env/prod.env
