Django==4.2.3
gunicorn==21.2.0
psycopg2-binary==2.9.6
beautifulsoup4==4.12.2
openai>=1.0.0
requests==2.31.0
tiktoken==0.4.0
nltk==3.8.1
python-dotenv==1.0.0
djangorestframework==3.14.0
django-registration-redux==2.13
django-cors-headers>=3.10.0
djangorestframework-simplejwt
djoser
pdfplumber
pgvector
sentence_transformers
PyMuPDF==1.24.0
Pillow
pytesseract
