apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - "../../base"

images:
  - name: ghcr.io/codeforphilly/balancer-main/backend
    newTag: "1.0.2"
    
namespace: balancer
