apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -c -f nginx-docker-compose.yml -o nginx-helm-chart
    kompose.version: 1.31.2 (a92241f79)
  creationTimestamp: null
  labels:
    io.kompose.service: frontend-static
  name: frontend-static
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: frontend-static
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose convert -c -f nginx-docker-compose.yml -o nginx-helm-chart
        kompose.version: 1.31.2 (a92241f79)
      creationTimestamp: null
      labels:
        io.kompose.network/frontend-default: "true"
        io.kompose.service: frontend-static
    spec:
      containers:
        - env:
            - name: CHOKIDAR_USEPOLLING
              value: "true"
            - name: VITE_API_BASE_URL
              value: { { .Values.VITE_API_BASE_URL } }

          image: ghcr.io/codeforphilly/balancer-main/frontend-static:latest
          name: frontend-static
          ports:
            - containerPort: 80
              protocol: TCP
          volumeMounts:
            - mountPath: /etc/nginx/nginx.conf
              name: nginx-conf
              subPath: nginx.conf
              readOnly: true
          resources: {}
      volumes:
        - name: nginx-conf
          configMap:
            name: nginx-conf
            items:
              - key: nginx.conf
                path: nginx.conf
      restartPolicy: Always
status: {}
---
apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose convert -c -f nginx-docker-compose.yml -o nginx-helm-chart
    kompose.version: 1.31.2 (a92241f79)
  creationTimestamp: null
  labels:
    io.kompose.service: frontend-static
  name: frontend-static
spec:
  ports:
  - name: "http"
    port: 80
    protocol: TCP
  selector:
    io.kompose.service: frontend-static
status:
  loadBalancer: {}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-conf
data:
  nginx.conf: |
    user nginx;
    worker_processes  1;
    events {
      worker_connections  1024;
    }
    http {
      include /etc/nginx/mime.types;
      error_log  /var/log/nginx/error_log;
      access_log /var/log/nginx/access_log;
      server {
        listen       80;
        listen  [::]:80;
        server_name  {{ .Values.nginx.serverName }};

        location /access_log {
            alias /var/log/nginx/access_log;
        }
        location /error_log {
            alias /var/log/nginx/error_log;
        }
        
        location / {
            root   /usr/share/nginx/html;
            index  index.html index.htm;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        #error_page   500 502 503 504  /50x.html;
        #location = /50x.html {
        #    root   /usr/share/nginx/html;
        
        #}
      }
    }
