@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.error-message {
  position: relative;
}

.error-message::before {

  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: pink;
}

.error-message {

  color: #FFFFFF;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.read-the-docs {
  color: #888;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar-icon {
    @apply;
  }
}

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.dark .main:before {
  background: #000;
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

.main:after {
  content: "";
  background-image: url("/src/assets/grid.svg");
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.dark .main:after {
  opacity: 0.7; /* Just an example: change the opacity in dark mode */
  background-image: none;
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, F5F6F9(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, F5F6F9(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  top: 80px;
  opacity: 0.15;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.container {
  @apply relative z-10 mx-auto flex w-full flex-col items-center;
}

.btnCancel {
  @apply h-10 rounded-xl border bg-gray-400 px-3 py-1.5 font-satoshi text-sm  text-white  hover:bg-blue-400;
}

.btn {
  @apply h-10 rounded-xl border bg-blue-500 px-3 py-1.5 font-satoshi text-sm  text-white  hover:bg-blue-400;
}

.head_text {
  @apply mt-16 text-center text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.header_logo {
  @apply bg-gradient-to-r from-blue-600 via-blue-700 to-blue-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-7  px-2 text-center font-sans text-3xl font-medium text-gray-800 md:p-0 md:px-0 md:text-5xl;
}
.desc1 {
  @apply mx-auto mt-5 hidden max-w-[75%] text-center  font-satoshi text-lg text-gray-400 sm:text-xl  md:block;
  font-size: 100%;
  letter-spacing: 0.03em;
}

.url_input {
  @apply block w-full rounded-md border-0  bg-white py-2 pl-5 pr-5 font-satoshi text-sm font-medium  shadow-sm  ring-1 ring-slate-300  hover:border-0 hover:ring-1 hover:ring-sky-500  focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40;
}

.ani_input {
  @apply block  w-full rounded-md border-0 bg-white py-2  pl-5 pr-5 font-satoshi text-sm font-medium shadow-sm ring-1  ring-slate-300  transition duration-200  hover:border-0 hover:ring-1 hover:ring-sky-500  focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40;
}

input[type="ani_input"]:focus ~ .input-text,
input[type="ani_input"]:not(:placeholder-shown) ~ .input-text {
  @apply -translate-x-2 -translate-y-5 scale-75 transform text-blue-500;
}

.url_input_loading {
  @apply block w-full rounded-md border border-gray-300  bg-gray-300 bg-opacity-50 py-2 pl-5 pr-5 font-satoshi text-sm font-medium shadow-lg focus:border-black focus:outline-none focus:ring-0;
}
.dropdown {
  @apply block w-64  rounded-md border-0 p-3 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:border-blue-400 focus:outline-none focus:ring focus:ring-blue-300 focus:ring-opacity-40 sm:text-sm sm:leading-6;
}

.submit_btn {
  @apply absolute inset-y-0 right-0 my-1.5 mr-1.5 flex w-10 items-center justify-center rounded border border-gray-200 font-sans text-sm font-medium text-gray-400 hover:border-gray-700 hover:text-gray-700;
}

.link_card {
  @apply flex cursor-pointer items-center justify-between rounded-md border  bg-white p-3 py-2.5 pl-5   ring-1 hover:bg-indigo-100;
}

.copy_btn {
  @apply flex h-7 w-7 cursor-pointer items-center justify-center  rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] md:mr-10;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text font-black text-transparent;
}

.summary_box {
  @apply w-[870px] rounded-md border  bg-white p-4 px-8 ring-1 hover:ring-slate-300 hover:ring-slate-300;
  /* backdrop-blur */
}
.tooltip-container {
  @apply cursor-pointer;
}
.tooltip {
  @apply border;
  position: absolute;
  /* top: calc(-100% - 50px); */
  transform: translateX(-50%);
  background-color: #f4f9ff;
  color: #111827;
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  min-width: 200px;
  max-width: 500px;
}

.material-symbols-outlined {
  font-size: 18px; /* Adjust the value as needed */
}
