.inside_chat {
  @apply grow px-2 py-2 bg-neutral-100 overflow-y-auto overflow-x-hidden;
}

.show_chat {
  @apply fixed bottom-6 left-4 rounded rounded-lg bg-white border shadow-xl dark:bg-slate-800 dark:text-slate-300;
}

.show_chat.windowed {
  @apply h-[50%] w-[320px];
}

.show_chat.full-screen {
  @apply w-[95%] h-[95%];
}

.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.chat_top_nav {
  @apply sticky top-0 mt-0 flex h-6 w-full flex-row items-center justify-between bg-white p-5 border-b border-gray-300;
}

.chatbot_name {
  @apply font-bold text-base;
}

.chat_link {
  @apply text-blue-600 mr-5 underline hover:text-blue-900;
}

.show_chat h5,
.show_chat h6 {
  @apply text-base font-bold;
}

.show_chat {
  @apply text-sm;
}

.chat_bubble {
  @apply max-w-[310px] rounded-lg ring-1 p-4;
}

.chat_bubble.chat_bubble_header {
  @apply max-w-[100%] ring-blue-200 bg-sky-50;
}

.chat_suggestion_section {
  @apply flex flex-col gap-1 p-2;
}

ul.chat_suggestion_list {
  @apply ml-4;
}

.chat_suggestion {
  @apply font-normal rounded-md border px-4 py-2 my-1 text-sky-800 bg-sky-100 hover:bg-blue-200 rounded-full text-left w-full;
}

.chat_text {
  @apply my-2 rounded-lg max-h-[100%];
}

.chat_text_icon {
  @apply text-blue-500 h-[20px] w-[20px];
}

.chat_text_user .chat_text_icon {
  @apply text-gray-400 scale-x-[-1];
}

.chat_footer {
  @apply flex md:flex-col gap-1 space-y-2 px-5 py-4 border-t;
}

.chat_top_nav .chat_icon {
  @apply cursor-pointer text-gray-500 hover:text-blue-500;
}

.chat_top_nav .chatbot_icon {
  @apply text-blue-500 text-base inline-block mr-1 align-[initial];
}

.scroll_down {
  @apply z-40 absolute bottom-[90px] left-[45%] text-3xl text-gray-400 hover:text-blue-500 rounded-full border-2 border-white bg-white;
}