.input_chat {
  @apply rounded-md  text-sm bg-white px-2 py-2 pl-3 font-semibold text-black text-slate-400 placeholder-gray-500 shadow-sm ring-1 hover:ring-slate-300 focus:outline-none focus:ring-2  focus:ring-sky-500 dark:bg-slate-800 dark:text-slate-300 dark:ring-0 dark:hover:bg-slate-700;
}

.show_chat {
  @apply h-[100%] w-[100%] rounded-lg bg-white  shadow-sm ring-1 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 dark:bg-slate-800 dark:text-slate-300 dark:ring-0 dark:hover:bg-slate-700;
  /* Screen-specific styles */
  @apply md:h-[80%] md:w-[40%];
  @apply lg:h-[70%] lg:w-[25%];
}

.inside_chat {
  @apply rounded-b-lg bg-white shadow-sm ring-1 hover:ring-slate-300 focus:outline-none focus:ring-2 focus:ring-sky-500 dark:bg-slate-800 dark:text-slate-300 dark:ring-0 dark:hover:bg-slate-700;
}
.circle {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
