@keyframes arrowMove {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: blue;
  animation: arrowMove 1s infinite;
}

.arrow:hover {
  animation: none;
}

.header-nav-item {
  @apply text-black border-transparent border-b-2 hover:border-blue-600 hover:text-blue-600 hover:border-b-2 hover:border-blue-600;
}

.header-nav-item.header-nav-item-selected {
  @apply text-blue-600;
}

.subheader-nav-item {
  @apply cursor-pointer rounded-lg p-3 transition duration-300 hover:bg-gray-100;
}

.subheader-nav-item.subheader-nav-item-selected {
  @apply text-blue-600;
}