name: "Containers: Publish"

on:
  release:
    types: [published]
  push:
    branches: [develop, main]

permissions:
  packages: write

jobs:
  release-containers:
    name: Build and Push
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to ghcr.io Docker registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Compute Docker container image addresses
        run: |
          DOCKER_REPOSITORY="ghcr.io/${GITHUB_REPOSITORY,,}"
          VERSION=$(cat VERSION)
          
          if [[ "${{ github.event_name }}" == "release" ]]; then
            # Use the GitHub Release tag (removing 'v' prefix if present)
            TAG="${GITHUB_REF#refs/tags/}"
            DOCKER_TAG="${TAG#v}"
          elif [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            # Stable version for main branch
            DOCKER_TAG="${VERSION}"
          else
            # Pre-release version for develop and other branches
            TIMESTAMP=$(date +%Y%m%d%H%M%S)
            DOCKER_TAG="${VERSION}-dev.${TIMESTAMP}"
          fi

          echo "DOCKER_REPOSITORY=${DOCKER_REPOSITORY}" >> $GITHUB_ENV
          echo "DOCKER_TAG=${DOCKER_TAG}" >> $GITHUB_ENV

          echo "Using: ${DOCKER_REPOSITORY}/*:${DOCKER_TAG}"

      # - name: 'Pull previous Docker container image: :latest'
      #   run: docker pull "${DOCKER_REPOSITORY}:latest" || true

      - name: "Pull previous Docker container image: app:latest"
        run: docker pull "${DOCKER_REPOSITORY}/app:latest" || true

      - name: "Build Docker container image: app:latest"
        run: |
          docker build \
              --cache-from "${DOCKER_REPOSITORY}/app:latest" \
              --file Dockerfile.prod \
              --tag "${DOCKER_REPOSITORY}/app:latest" \
              --tag "${DOCKER_REPOSITORY}/app:${DOCKER_TAG}" \
              .

      - name: "Push Docker container image app:latest"
        run: docker push "${DOCKER_REPOSITORY}/app:latest"

      - name: "Push Docker container image app:v*"
        run: docker push "${DOCKER_REPOSITORY}/app:${DOCKER_TAG}"

      - name: Save Docker Tag
        run: echo "${DOCKER_TAG}" > docker_tag.txt

      - name: Upload Docker Tag
        uses: actions/upload-artifact@v4
        with:
          name: docker-tag
          path: docker_tag.txt
